

# Obligatiori. Aplicació definida dins "Gestión de Aplicaciones" de @firma federat
org.fundaciobit.exemple.base.plugins.validatesignature.afirmacxf.applicationID=gobbal.fbit.portafib
#gobbal.fbit.portafib
#appPrueba

org.fundaciobit.exemple.base.plugins.validatesignature.afirmacxf.ignoreservercertificates=true

org.fundaciobit.exemple.base.plugins.validatesignature.afirmacxf.TransformersTemplatesPath=D:/dades/dades/CarpetesPersonals/Programacio/pluginsib-1.0/plugins-validatesignature/afirmacxf/config/transformersTemplates


org.fundaciobit.exemple.base.plugins.validatesignature.afirmacxf.endpoint=http://des-afirma.redsara.es/afirmaws/services/DSSAfirmaVerify

#http://afirma.redsara.es/afirmaws/services/DSSAfirmaVerify
#http://des-afirma.redsara.es/afirmaws/services/DSSAfirmaVerify
http://localhost:9090/afirmaws/services/DSSAfirmaVerify



# USERNAME-PASSWORD Token
org.fundaciobit.exemple.base.plugins.validatesignature.afirmacxf.authorization.username=
#userTest
org.fundaciobit.exemple.base.plugins.validatesignature.afirmacxf.authorization.password=
#12345

# CERTIFICATE Token
org.fundaciobit.exemple.base.plugins.validatesignature.afirmacxf.authorization.ks.path=D:/dades/dades/CarpetesPersonals/Programacio/portafib-files/afirma/nou/proves-dgidt.jks
#D:/dades/dades/CarpetesPersonals/Programacio/PortaFIB/plugins/plugins-certificate/afirma/proves-dgidt.jks
org.fundaciobit.exemple.base.plugins.validatesignature.afirmacxf.authorization.ks.type=JKS
org.fundaciobit.exemple.base.plugins.validatesignature.afirmacxf.authorization.ks.password=password
org.fundaciobit.exemple.base.plugins.validatesignature.afirmacxf.authorization.ks.cert.alias=1
org.fundaciobit.exemple.base.plugins.validatesignature.afirmacxf.authorization.ks.cert.password=password


